{% extends 'layouts.html'%}

{% block content %}
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
      Genre
    </a>
    <button type="button" class="list-group-item list-group-item-action">Action</button>
    <button type="button" class="list-group-item list-group-item-action">Sports</button>
    <button type="button" class="list-group-item list-group-item-action">Platform</button>
    <button type="button" class="list-group-item list-group-item-action">Shooter</button>
    <button type="button" class="list-group-item list-group-item-action">Fighting</button>
    <button type="button" class="list-group-item list-group-item-action">Role-Playing</button>
    <button type="button" class="list-group-item list-group-item-action">Racing</button>
    <button type="button" class="list-group-item list-group-item-action">Strategy</button>
    <button type="button" class="list-group-item list-group-item-action">Misc</button>
    <button type="button" class="list-group-item list-group-item-action">Adventure</button>
    <button type="button" class="list-group-item list-group-item-action">Simulation</button>
    <button type="button" class="list-group-item list-group-item-action">Puzzle</button>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
      Platform
    </a>
    <button type="button" class="list-group-item list-group-item-action">Nintendo 64</button>
    <button type="button" class="list-group-item list-group-item-action">PlayStation</button>
    <button type="button" class="list-group-item list-group-item-action">Xbox 360</button>
    <button type="button" class="list-group-item list-group-item-action">Wii</button>
    <button type="button" class="list-group-item list-group-item-action">GameCube</button>
    <button type="button" class="list-group-item list-group-item-action">Xbox</button>
    <button type="button" class="list-group-item list-group-item-action">PC</button>
    <button type="button" class="list-group-item list-group-item-action">DS</button>
    <button type="button" class="list-group-item list-group-item-action">Game Boy Advance</button>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
      Publisher
    </a>
    <button type="button" class="list-group-item list-group-item-action">Nintendo</button>
    <button type="button" class="list-group-item list-group-item-action">Activision</button>
    <button type="button" class="list-group-item list-group-item-action">Take-Two Interactive</button>
    <button type="button" class="list-group-item list-group-item-action">Microsoft Game Studio</button>
    <button type="button" class="list-group-item list-group-item-action">Vivendi Games</button>
    <button type="button" class="list-group-item list-group-item-action">Sony Computer Entertainment</button>
    <button type="button" class="list-group-item list-group-item-action">Capcom</button>
    <button type="button" class="list-group-item list-group-item-action">Warner Bros. Interactive Entertainment</button>
    <button type="button" class="list-group-item list-group-item-action">Bethesda Softworks</button>
    <button type="button" class="list-group-item list-group-item-action">Konami Digital Entertainment</button>
</div>
{% endblock content %}