{% extends 'layouts.html'%}

{% block content %}
    <main role="main" class="container extra-bottom">
        <h1 class="mt-5">Personal Game Lists</h1>
    </main>
  

  <div class="container">    
      
      <div style="text-align: right;">
      <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="New Game">Add Game</button>
      </div>

      
      <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="Label">Add a game</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
              <div class="input-group mb-3">
                  <span class="input-group-text" id="task-form-display">Game</span>
                  <input type="text" class="form-control" placeholder="Input" aria-label="game-name" aria-describedby="basic-addon1">
                  <!-- <input type="text" class="form-control" placeholder="Note of Game" aria-label="game-note" aria-describedby="basic-addon1"> -->
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button id="submit-task" type="button" class="btn btn-primary">Save changes</button>
          </div>
          </div>
      </div>
      </div>

  </div>

  <!--Todo Table-->
  <div class="container table-responsive">          
  <table class="table">
      <thead>
      <tr>
          <th class="task-id">#</th>
          <th class="task">Game Name</th>
          <th class="task2">Genre</th>
          <th class="task2">Review</th>
          <th class="note">Note</th>
          <th class="update">Edit</th>
          <th class="update">Remove</th>
      </tr>
      </thead>

      <tbody>
      {% for item in items %}
          <tr>
            {% if item["color"] == "Red" %}
                <td id="red">{{item.itemId}}</td>
                <td id="red">{{item.name}}</td>
                <td id="red">{{item.genre}}</td>
                <td id="red">{{item.review}}</td>
                <td id="red">{{item.note}}</td>
                <td id="red"><button type="button" class="btn btn-outline-info btn-lg" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="{{item.itemId}}" data-content="{{item.note}}"><i class="fa fa-pen fa-1" aria-hidden="true"></i></button></td>
                <td id="red"><button class="btn btn-outline-secondary btn-lg remove" data-source="{{item.itemId}}" type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
            {% elif item["color"] == "Orange" %}
                <td id="orange">{{item.itemId}}</td>
                <td id="orange">{{item.name}}</td>
                <td id="orange">{{item.genre}}</td>
                <td id="orange">{{item.review}}</td>
                <td id="orange">{{item.note}}</td>
                <td id="orange"><button type="button" class="btn btn-outline-info btn-lg" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="{{item.itemId}}" data-content="{{item.note}}"><i class="fa fa-pen fa-1" aria-hidden="true"></i></button></td>
                <td id="orange"><button class="btn btn-outline-secondary btn-lg remove" data-source="{{item.itemId}}" type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
            {% else %}
                <td>{{item.itemId}}</td>
                <td>{{item.name}}</td>
                <td>{{item.genre}}</td>
                <td>{{item.review}}</td>
                <td>{{item.note}}</td>
                <td><button type="button" class="btn btn-outline-info btn-lg" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="{{item.itemId}}" data-content="{{item.note}}"><i class="fa fa-pen fa-1" aria-hidden="true"></i></button></td>
                <td><button class="btn btn-outline-secondary btn-lg remove" data-source="{{item.itemId}}" type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
            {% endif %}
          </tr>
      {% endfor %}
      
      </tbody>
  </table>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
  <!-- <script src="{{ url_for('static', filename='static/modal.js') }}"></script> -->
  <!-- <script src="app/static/modal.js"></script> -->
  <script src="{{url_for('static', filename='modal.js')}}"></script>
  <!-- <script src="{{ url_for('static', filename='app/static/modal.js') }}"></script> -->
{% endblock content %}

